<h1>Login form</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
</form>

<button><a href="/">Home</a></button>
<button><a href="/register">Sign Up</a></button>
<button><a href="logout">Logout</a></button>